@import '../../styles/_vars';
@import '../../styles/_mixins';

.segment {
  margin: 10px;

  h1.title {
    @include h1;
  }

  h2.title {
    @include h2;
  }

  .description {
    font-size: 16px;
    margin-top: 10px;
  }

  .content {
    margin-top: 10px;
  }
}
